.website-container {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 1000px;
  max-height: 300px;
  overflow: auto;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}

.card a {
  position: relative;
  display: inline-block;
}

.card a:hover::before {
  content: 'Visit Website';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}